.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.search-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    height: 100vh;
}
.search-header {
    display: flex;
    flex-direction: row;
}
.header-results {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0;
}
.location {
    font-family: 'Power Grotesk Light', sans-serif;
}
.temp {
    display: flex;
    justify-content: baseline;
    flex-direction: column;
    border-bottom: 2px solid black;
}
.p-date {
    font-family: 'Power Grotesk', sans-serif;
    letter-spacing: 0.25px;
    font-size: 2vh;
}
.current-temp {
    font-family: 'Power Grotesk Bold', sans-serif;
    font-size: 12vh;
}
.current-condition {
    font-family: 'Power Grotesk', sans-serif;
    font-size: 2.5vh;
    padding-bottom: 1rem;
}
.two-day {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0rem 3rem 2rem 3rem;
}
.forecast-day {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 2vh;
    gap: 0.25rem;
}
.forecast-img {
    height: 4rem;
    width: 4rem;
}