.main {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    overflow-y: auto;
}

/* searchbar CSS */
input {
    border-radius: 0px;
    width: 50%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-right: none;
    border-top-left-radius: 120px;
    border-bottom-left-radius: 999px;
    border-left: 2px solid black;
    color: black;
    outline: none;
    font-family: 'Power Grotesk', sans-serif;
    letter-spacing: 0.5px;
    text-align: center;
}
input::placeholder {
    color: black;
}
button {
    border: 2px solid black;
    border-left: none;
    border-bottom-right-radius: 120px;
    border-top-right-radius: 999px;
    cursor: pointer;
    background-color: transparent;
    padding-right: 1rem;
}
.top-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.search-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.search-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.search-header-wrapper {
    display: flex;
    flex-direction: row;
}
.header-results {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0;
}
.location {
    font-family: 'Power Grotesk Light', sans-serif;
}
.temp {
    display: flex;
    justify-content: baseline;
    flex-direction: column;
    border-bottom: 2px solid black;
}
.p-date {
    font-family: 'Power Grotesk', sans-serif;
    letter-spacing: 0.25px;
    font-size: 2vh;
}
.current-temp {
    font-family: 'Power Grotesk Ultra Bold', sans-serif;
    font-size: 20vh;
    letter-spacing: 1px;
}
.current-condition {
    font-family: 'Power Grotesk', sans-serif;
    font-size: 2.5vh;
    padding-bottom: 1rem;
    text-transform: capitalize;
}
.two-day {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem 1rem 4rem 1rem;
}
.forecast-day {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 2vh;
    gap: 0.25rem;
}
.forecast-img {
    height: 4rem;
    width: 4rem;
}
.forecast-condition {
    font-size: 1.8vh;
}
