@font-face {
  font-family: 'Power Grotesk';
  src: url('PowerGroteskTrial-Regular.otf') format('opentype');
}


* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: var(--background);
  background-image: url('/hot.jpeg');
  background-size: cover;
  color: var(--primary-text-color);
  font-family: 'Power Grotesk', sans-serif;
}

.App {
  display: block;
  place-items: center;
  text-align: center;


  @media screen and (max-width:1200px) {
    min-height: 100vh;
  }
  @media screen and (max-width:1000px) {
    min-height: 100vh;

  }
  @media screen and (max-width:800px) {
    min-height: 100vh;

  }
  @media screen and (max-width:600px) {
    min-height: 100vh;

  }
}
