:root {
  /* sunny */
  --backgroundSunny: url('/assets/weather/bgsunny.jpg');
  /* cloudy */
  --backgroundCloudy: url('/assets/weather/bgcloudy.jpg');
  /* rainy */
  --backgroundRainy: url('/assets/weather/bgrain.jpg');
  /* thunder */
  --backgroundThunder: url('/assets/weather/bgthunder.jpg');
  /* snowy */
  --backgroundSnowy: url('/assets/weather/bgsnowy.jpg');
  /* default */
  /* --background: url('/assets/weather/bgdefault.jpg'); */
  --background: black;
  /* night */
  --backgroundNight: url('/assets/weather/bgnight.jpg');
  --primary-text-color: #0a0a09;
}
