.react-chart {
    font-family: 'Power Grotesk', sans-serif;
}
.apexcharts-zoomin-icon, .apexcharts-zoomout-icon, .apexcharts-zoom-icon, .apexcharts-reset-icon, .apexcharts-zoomout-icon, .apexcharts-menu-icon, .apexcharts-pan-icon {
    display: none;
}
.details-header {
    display: block;
    text-align: center;
    padding-top: 1rem;
}
.details-wrapper {
    display: flex;
    justify-content: center;
}
.details-content {
    font-size: 1.9vh;
    display: grid;
    align-items: start;
    gap: 2rem;
    padding: 3rem 0rem;
}
.row-wrapper {
    display: grid;
    gap: 3rem;
    padding: 1vh 0;
    grid-template-columns: 1fr 1fr;
    border-bottom: 2px solid black;
}
.container {
    flex: 1;
    text-align: left;
}
.container p {
    margin: 0;
}
.apexcharts-gridline {
    stroke: transparent;
}

.apexcharts-text.apexcharts-xaxis-label {
    font-size: 1.3vh;
    font-weight: 500;
}
.apexcharts-text.apexcharts-yaxis-label {
    font-size: 1.3vh;
    font-weight: 500;
}
.react-chart path.apexcharts-xaxis-line,
.react-chart path.apexcharts-yaxis-line {
    stroke: black !important;
}