.details-12 {
    padding-top: 6rem;
}

.recharts-wrapper {
    padding: 1rem;
}
.details-header {
    display: block;
    text-align: center;
    padding-top: 1rem;
}
.details-wrapper {
    display: flex;
    justify-content: center;
}
.details-content {
    font-size: 1.9vh;
    display: grid;
    align-items: start;
    gap: 2rem;
    padding: 3rem 0rem;
}
.row-wrapper {
    display: grid;
    gap: 3rem;
    padding: 1vh 0;
    grid-template-columns: 1fr 1fr;
    border-bottom: 2px solid black;
}
.container {
    flex: 1;
    text-align: left;
}
.container p {
    margin: 0;
}
